APP_NAME=B2B
APP_ENV=local
APP_KEY=base64:Ci3a4XqPOcfglSEGe0/jirVc5V7uPyT60MPOeVld8e0=
APP_DEBUG=true
APP_URL=https://api.localhost.com

APP_UCC_TYPE=RED
API_DEBUG=false

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=g2gbox_api
DB_USERNAME=g2gbox_apiadmin
DB_PASSWORD=rtQAA3U.aVE{

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_PATH=

MAIL_MAILER=smtp
MAIL_HOST=smtpout.secureserver.net
MAIL_PORT=587
MAIL_USERNAME=no-reply@g2gbox.com
MAIL_PASSWORD=g2gboxsmailer3$%*7^
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=no-reply@b2b.com
MAIL_FROM_NAME="B2B Philippines"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

NEXMO_API_KEY=2eb86455
NEXMO_API_SECRET=f39iAUHI8kEW2jCZ

MERCHANT_ID=ARRONETAEX
MERCHANT_PASSWORD=56s2WbFdxfVRj59
DRAGONPAY_TOKEN=57ba7d7b06ff60fde41402f61ae818e4203330dd
